.floating-card-divs {
    background: rgb(28, 42, 53);
    box-shadow: 0px 4px 10px 4px rgb(0, 0, 0, 0.14);
    border-radius: 10px;
}

.floating-card-divs-light {
    background: #fdfffd;
    box-shadow: 0px 4px 10px 4px rgb(0, 0, 0, 0.14);
    border-radius: 10px;
}