.bubble-heading-container {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    background-color: rgba(78, 88, 96, 0.6);
    border-radius: 50px;
    padding: 0.3rem 0.5rem;
}

.bubble-logo-container {
    width: 30px;
    border-radius: 100px;
    padding-top: 0.1rem;
    padding-right: 0.1rem;

}

.bubble-imgSvg {
    width: 15px;
    margin-left: 7px;
    color: white;
}

.bubble-title {
    color: white;
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 7px;
}